<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/ac34b177d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<h2 class="top-title">
    Hoang.Duc.Anh
</h2>
<div class="container">
    <div class="left-content">
        <img src="images/avatar.jpg" alt="">
    </div>
    <div class="right-content">
        <span class="say-hi">HELLO</span>
        <h2 class="my-name">
            I'm <span>Hoang Duc Anh</span>
        </h2>
        <span class="my-website">fb.hoangduc.anh1420</span>
        <div class="details">
            <label class="labels">
                <p>Name</p>
                <p>University</p>
                <p>Job</p>
                <p>Age</p>
            </label>
            <label class="information">
                <p>: Hoang Duc Anh</p>
                <p>: HUST</p>
                <p>: Student</p>
                <p>: 21 years old</p>
            </label>
        </div>
    </div>
    <div class="bottom_content">
        <a href="">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/hoangduc.anh.1420">
            <i class="fab fa-facebook"></i>
        </a>
    </div>
</div>
</body>
</html>
